body{
    background-color: gray;
    
}

.container{
    margin: auto;
    padding: auto;
}



form{
    background-image: none;
}

p{
    position: absolute;
    top: 100px;
    left: 50px;
}